/**
* This is primarily the CSS for the front page (doing the whole 1 page deal)
**/
html {
    font-family: 'Times New Roman', Times, serif;
}
/*
* the nav bar
*/
.navbar {
    z-index: 0;
    /*position: fixed;*/
    background-color: #FFFFFF;
    width: 100%;
    border-bottom: .5px solid #5462B7;
    text-transform: uppercase;
}

/*.nav{
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}*/

.nav li {
    display: inline;
    float: left;
}

.nav a {
    display: block;
    /*padding: 8px;*/
    text-align: center;
    background-color: #FFFFFF;
}

.nav a:hover {
    background-color: #3D4784
}



/*
* This is the banner at top .headbanner
*/
.indexbanner {
    /*position: relative;*/
    padding: 150px 0;
    z-index: 2;
    background-color: #5462B7;
    height: 650px;
    background: linear-gradient(#3D4784, #5462B7);
    background: -webkit-linear-gradient(#3D4784, #5462B7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3D4784, #5462B7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3D4784, #5462B7); /* For Firefox 3.6 to 15 */
    text-align: center;
    /*vertical-align: middle;*/
}

/*.row {
    text-align: center;
    vertical-align: middle;
    height: 200px;
}*/

.title {
    color: #FFFFFF;
    font-size: 7vw;
    font-family: Georgia, Serif;
}

.title2 {
    color: #FFFFFF;
    font-size: 2.5vw;
    font-family: Georgia, Serif;
}

.title3 {
    color: #FFFFFF;
    font-size: 1vw;
    font-family: Georgia, Serif;
}
/*
* index page size
*/
.page {
    padding: 12.5vw 0;
    background-color: #FFFFFF;
    height: 100%;
    border-bottom: 1px solid #5462B7;
    font-size: 1.5vw;
}

/*
* posts
*/

.postbanner {
    padding: 100px 0;
    z-index: 2;
    background-color: #5462B7;
    height: 400px;
    background: linear-gradient(#3D4784, #5462B7);
    background: -webkit-linear-gradient(#3D4784, #5462B7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3D4784, #5462B7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3D4784, #5462B7); /* For Firefox 3.6 to 15 */
    text-align: left;

}

.post {
    text-align: center;
}

#Archive{
    height: 100%;
    text-align: center;
}
