<!-- Banner -->
<header class="indexbanner">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
          <span class="title">FourierEyes</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <span class="title2">And My Eyes</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <span class="title3">My adventures into the real world</span>
          </div>
        </div>
    </div>

</header>
<!-- Banner End -->
