<!--Navigation bar Start -->
<nav class="navbar">
    <div class="container">
        <div class="rows">
            <ul class="nav navbar-nav">
            {% if page.section-type == "index" %}

              <!-- Scroll to section for each page in index -->
              {% for p in site.pages_list %}
                <li>
                  <a class="page-scroll" href="#{{ p[1] }}"> {{p[0]}} </a>
                </li>
              {% endfor %}

            {% else %}
              <!-- Blog, Post, Tag and Error pages -->
              {% for p in site.pages_list %}
                <li>
                {% if p[1] == "latest-post" %}
                  {% if page.url == "/blog/index.html" | prepend: {{site.baseurl}} %}
                    <a class="page-scroll" href="#page"> {{p[0]}} </a>
                  {% else %}
                    <a href="{{site.baseurl}}/blog/"> {{p[0]}} </a>
                  {% endif %}
                {% else %}
                    <a href="{{site.baseurl}}/#{{ p[1] }}"> {{p[0]}} </a>
                {% endif %}
                </li>
              {% endfor %}
            {% endif %}
          </ul>
      </div>
    </div>
</nav>

<!-- Navigation End -->
